#floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3b71ca; /* Green background color */
  color: white; /* White text color */
  border: none; /* Remove borders */
  border-radius: 50%; /* Make it a circle */
  padding: 20px;
  width: 70px; /* Add some padding */
  height: 70px;
  font-size: 20px; /* Increase font size */
  cursor: pointer; /* Add a pointer cursor on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Change button color on hover */
#floating-button:hover {
  background-color: #45a049;
}

.list {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  gap: 1rem;
}

/* .logo {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.username {
  display: flex;
  gap: 1rem;
  align-items: center;
}
