.exam-wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.examForm {
  display: flex;
  flex-direction: column;
}

.exam-wrapper > :nth-child(1) {
  display: flex;
  justify-content: space-evenly;
}
.examForm > :nth-child(1) {
  display: flex;
  flex-direction: column;
}

.answers-opt {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
