.main {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.totalQ {
  padding: 1rem;
  font-weight: 800;
  /* color: red; */
}

.qna {
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
}

.options {
  display: flex;
  flex-direction: column;
}
